@media only screen and (min-width: 768px) {
  /* For desktop*/
  body {
    background-color: #FFFFFF;
    width: 98%;
    height: 97vh;
  }

  .container{
    width: 97%;
  }

  .head {
    float: left;
		min-height: 858px;
		width: 65%;
		margin: 0;
		padding: 0;
		background-image: url(http://source.unsplash.com/1600x900/?flowers);
	}

  .stone {
    position: absolute;
		color: #FFFFFF;
		margin-left: 4em;
    margin-top: 800px;
  }

  ul {
		padding: 10%;
		margin-top: 0;
	}


  .list {
    height: 105px;
  }

  .paint1,
  .p-1 {
    display: none;
  }

  .paint2 {
    display: inline-block;
  }

  .paint img {
    margin-top: 0;
    min-height: 420px;
    background-size: contain;
    margin-bottom: 10px;
    margin-left: 3.1%;
  }

   #txt {
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    margin-left: 1%;
  }

  .paint2,
  #txt {
    width: 30%;
    min-height: 422px;

  }

  .header,
  .list {
		background: #FFFFFF;
		width: 170px;
		margin-left: 4em;
		opacity: 0.6;
	}

	.header {
		margin-top: 70px;
	}

	.title {
		font-size: 1.1em;
		padding: 8%;
	}

  .txt p {
    padding-top: 32%;
    font-size: 16px;
  }

  ul li {
		margin-bottom: 2%;
		font-size: 0.7em;
    display: block;
	}

}
