/** {
  margin: 0;
  padding: 0;
}*/

body {
  margin: 2%;
  padding: 0;
  background-color: #000000;
  font-family: 'Cinzel', serif;
  width: 98%;
  height: 97vh;
}

.container{
  width: 98%;
}

header {
  background-color: #FFFFFF;
  width: 98%;
  height: 7%;
}

.header {
 margin: 0 0 0 10px;
}

h3,
h5 {
  margin: 0;
}

.list {
  background-color: #EAECEE;
}

.paint {

}

.p-1 {
  background-color: #FFFFFF;
  height: 4vh;
  text-align: justify;
}

.p-1 h3{
  font-size: 10px;
  color: gray;
  text-align: justify;
  margin-top: -4px;
  padding-top: 6px;
}

.paint img{
  max-width: 100%;
  margin-top: 5px;
  background-size: cover;
  height: 185px;
  width: 100%;
}

.stone {
  color: #FFFFFF;
  width: 100%;
  height: 3%;
  margin-top: 15px;
  font-size: 12px;
}

.txt {
  background-color: #FFFFFF;
  color: #000000;
  text-align: justify;
  width: 100%;
  padding: 0;
  font-size: 12px;
}

.txt p {
  padding: 25px;
}

ul{
  padding-left: 10px;
}

ul li {
  list-style-type: none;
  color: #000000;
  display: inline;
  font-size: 10px;
}

li:hover{
  background-color: #FFFFFF;
}


/*

.paint2 {
  position: absolute;
  margin: 10px 0 0 1px;
  background-color: #0099cc;
}

.paint1{
  margin: 10px;
}

.txt {
  position: absolute;
  margin-top: 320px;
  padding: 0;
}

.paint1 {
  position: relative;
}

.wh30{

}

.txt{
  position: relative;
}

.paint1,
.paint2,
.txt {
  d
}*/
